/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
	padding-top: 50px;
	background-color: #f5f5f5;
}

footer {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -33%;
	}
	.row-offcanvas-left.active {
		left: 33%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 33%;
		margin-left: 10px;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	background-color: #f5f5f5;
	margin-right: -15px;
	margin-bottom: 20px;
	margin-left: -15px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}
/* .nav-sidebar > .active > a { */
/*   color: #fff; */
/*   background-color: #428bca; */
/* } */

/*
 * Main content
 */
.main {
	padding: 20px;
	background-color: #fff;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/********************************my custome changes****************************************/
#sidebar {
	position: fixed;
	border-right: 1px solid #ddd;
	height: 100%;
	background-color: white;
}

.nav-sidebar {
	background-color: white;
}

.main {
	float: right;
}

.navbar-inverse {
	background-color: white;
	border: 1px solid #ddd;
}

.nav-sidebar>.active>a {
	color: Black;
	background-color: White;
	font-weight: bold;
}

.our-logo {
	width: 14%;
	float: left;
}

.content-bottom {
	float: right;
}

a {
	color: #333;
}

.up-button {
	height: 35px;
	width: 35px;
	background: white url('/resources/images/up.png');
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

.down-button {
	height: 35px;
	width: 35px;
	background: white url('/resources/images/down.png');
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
}

#up-value {
	float: left;
}

#down-value {
	float: left;
}

.inner-div {
	margin-left: 11%;
	margin-right: 9%;
}

.main-searchbar {
	width: 100% !important;
}

.comment-link {
	background-color: #e3e3e3;
	margin-right: 5px;
	padding: 1px;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 12px;
	margin-bottom: 5px;
}

.comment-title {
	font-weight: bold;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #363636;
}

.comment-content{
	width: 80%;
}
.comment-date{
	color: #999;
}

.comment-date-cell{
	padding-left: 10px;
}
.custom-reply-dialog{
	height: 240 !important;
	 width: 454px !important; 
}

.comment-submit {
	float: right;
	margin-top: 5px;
}

.select-course {
	width: 60%;
	margin-bottom: 15px;
}

.top-header {
	float: left;
	margin-left: 1%;
	margin-top: 7px;
	width: 77%;
}

.search-bar {
	margin-top: 5px;
	width: 55%;
}

.input-bar {
	width: 100% !important;
	background-color: white !important;
}

.top-nav-bar {
	width: 100%;
}

.table-header-control {
	width: 100%;
	font-weight: normal !important;
}

.custom-dialog {
	/*
	left: 25% !important;
	top: 10% !important;
	*/
	width: 50% !important;
	z-index: 1050 !important;
	height: 310px !important;
}

.custom-comment-dialog {
	width: 50% !important;
	height: 310px !important;
}

.table-row-control {
	width: 100%;
}

.order-table-even-column {
	min-width: 60%;
}

.order-table-odd-row .order-table-even-row {
	width: 100%;
}

.order-table {
	width: 100%;
	margin-top: 40px;
}

.column-inside-content {
	width: 100%;
}

.modal-button {
	width: 109px;
	margin-left: 7px !important;
	margin-right: 0px !important;
}

.comment-table {
	width: 100%;
}

.comment-table-column {
	width: 100% !important;
}

.comment-table-column>input {
	width: 100% !important;
	background-color: white !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style: none !important;
}

.ui-widget-content {
	border: none !important;
}

.nav>li>a {
	padding: 10px 7px !important;
}

.ui-autocomplete-input {
	width: 100% !important;
	background-color: white !important;
	border-radius: 0px !important;
}

.search-button {
	margin-top: 5px;
	background-image: url("search.png.xhtml?ln=images") !important;
	background-size: 100% 100% !important;
	border-radius: 0 !important;
	height: 32px;
	width: auto;
}

body {
	background-color: white !important;
}

.custom-dialog-form {
	width: auto !important;
}

#search_bar_id_panel{
	z-index: 1036 !important;
}

.ui-autocomplete-panel{
	z-index: 1036 !important;
}

.our-footer{
	margin-right: 17%;
}

.authenticate{
	border: 1px solid black;
}

.comment-tab-feedback{
	vertical-align:top;
}
.like-count{
	padding-right:5px;
	vertical-align:bottom;
}
.dislike-count{
	vertical-align:top;
	padding-right: 5px;
}